.ant-collapse-header-text {
  font-size: 28px !important;
  line-height: 42px; /* 131.25% */
  letter-spacing: -0.64px;
  color: $dark-gray !important;
}
.ant-collapse-header {
  align-items: center !important;
}
.ant-collapse-content-box {
  font-size: 18px;
}

